* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: darkgray;
    height: 100%;
}

header {
    border: 15px solid white;
}

.top {
    height: fit-content;
    width: 100%;
    background-image: url(../assets/images/Background.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
}

span {
    color: rgb(221, 20, 20);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 25px;
}

nav ul li a {
    color: white;
    text-decoration: wavy;
    font-weight: bold;
    border: 5px solid;
    border-radius: 15%;
    background-color: rgb(0, 0, 0);

}

nav ul li a:hover {
    color: rgb(221, 20, 20);
}

.Patrick {
    display: flex;
    margin: 15px;
    padding: 20px;
    border: 10px solid black;
    background-color: rgb(221, 20, 20);
    height: 100%;
}

article {
    display: flex;
    width: 100%;
}

.titles-container {
    display: flex;
    border-right: 5px solid black;
    font-size: 48px;
    text-align: right;
    padding: 30px;
    height: 100%;
    margin-right: 20px;
}

.profile-pic {
    border: 10px solid black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-items: left;
}

p {
    font-size: 26px;
    padding: 15px 25px 0 30px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.All-projects {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 800px;
    width: 100%;

    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

.first-project {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.project {
    width: 100%;
    height: 100%;
}

.description {
    display: inline;
    position: relative;
    padding: 5px;
    bottom: 40px;
    left: 40px;
    color: white;
    background-color: black;
}

.smaller {
    height: 100%;
    width: 100%;
}
.project-row {
    display: flex;
}

.child-images {

    margin: 10px;

}

footer ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bold;
}
  
/* Tablet view */
@media screen and (max-width: 768px) {
    nav {
        padding: 10px;
    }

    article {
        flex-direction: column;
    }

    .titles-container {
        font-size: 32px;
        border-right: 0;
        border-bottom: 5px solid black;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .profile-pic {
        height: 100px;
        width: 100px;
    }

    .Patrick {
        flex-direction: column;
    }

    .description {
        left: 10px;
    }
}

/* Mobile view */
@media screen and (max-width: 576px) {
    nav {
        padding: 10px;
    }

    article {
        flex-direction: column;
    }

    .titles-container {
        font-size: 32px;
        border-right: 0;
        border-bottom: 5px solid black;
        text-align: center;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .profile-pic {
        height: 100px;
        width: 100px;
    }

    .Patrick {
        flex-direction: column;
    }

    .description {
        left: 10px;
    }
}

